<%= form_for @customer do |f| %>
  <div class="card p-4 flex flex-col gap-y-6 w-fit">
    <%= semantic_errors(f) %>

    <div>
      <%= f.label :full_name, class: 'block' %>
      <%= f.text_field :full_name, class: 'form-input' %>
      <%= form_error(f, :full_name) %>
    </div>

    <div>
      <%= f.label :email, class: 'block' %>
      <%= f.text_field :email, class: 'form-input' %>
      <%= form_error(f, :full_name) %>
    </div>

    <%= f.submit 'Submit', class: 'btn-primary' %>
  </div>
<% end %>
