<div class="pb-4">
  <%= link_to '<- Back', payments_path, class: 'link-primary' %>
</div>

<div class="flex justify-between pb-2">
  <div class="page-heading">Payment №<%= @payment.id %></div>

  <div class="flex items-center gap-x-2">
    <% if @payment.pending? && @revolut_order_state == RevolutMerchant::CONST::ORDER_STATE_PENDING %>
      <%= form_for PaymentTransaction.new, url: pay_payment_path(@payment.id) do |f| %>
        <div class="card w-fit h-fit flex flex-row gap-x-4 px-4 py-2 items-center">
          <div class="flex flex-row gap-x-2 items-center">
            <%= f.label :payment_method_id %>
            <%= f.select :payment_method_id,
                         options_from_collection_for_select(@payment.customer.payment_methods.to_a, :id, :display_name),
                         { include_blank: true },
                         class: 'form-select' %>
          </div>
          <%= f.submit 'Pay', class: 'btn-primary' %>
        </div>
      <% end %>
    <% end %>

    <% if @payment.pending? && @revolut_order_state == RevolutMerchant::CONST::ORDER_STATE_AUTHORISED %>
      <%= button_to 'Confirm',
                    confirm_payment_path(@payment.id),
                    method: :post,
                    class: 'btn-primary' %>
    <% end %>

    <% if @payment.wait_three_ds? %>
      <%= link_to 'Confirm 3DS', '#', class: 'btn-primary' %>
    <% end %>

    <% if @payment.pending? || @payment.wait_three_ds? %>
      <%= button_to "Remove",
                    payment_path(@payment.id),
                    class: 'btn-danger',
                    method: :delete,
                    form: {
                      data: { turbo_confirm: "Are you sure?" }
                    } %>
    <% end %>
  </div>
</div>

<div class="flex flex-row gap-x-4 mb-4">
  <div class="card relative w-min h-fit p-2">
    <div class="p-2 font-semibold">Payment details</div>
    <table class="text-sm text-left text-gray-500">
      <tbody>
      <tr class="bg-white border-b">
        <th scope="col" class="text-xs text-gray-700 uppercase px-6 py-3 border-r">ID</th>
        <td class="px-6 py-4"><%= @payment.id %></td>
      </tr>
      <tr class="bg-white border-b">
        <th scope="col" class="text-xs text-gray-700 uppercase px-6 py-3 border-r">Customer</th>
        <td class="px-6 py-4">
          <%= link_to @payment.customer.display_name,
                      customer_path(@payment.customer_id),
                      class: 'link-primary' %>
        </td>
      </tr>
      <tr class="bg-white border-b">
        <th scope="col" class="text-xs text-gray-700 uppercase px-6 py-3 border-r">Last&nbsp;Transaction&nbsp;ID</th>
        <td class="px-6 py-4"><%= @payment.last_transaction_id %></td>
      </tr>
      <tr class="bg-white border-b">
        <th scope="col" class="text-xs text-gray-700 uppercase px-6 py-3 border-r">Status</th>
        <td class="px-6 py-4"><%= @payment.status %></td>
      </tr>
      <tr class="bg-white border-b">
        <th scope="col" class="text-xs text-gray-700 uppercase px-6 py-3 border-r">Amount</th>
        <td class="px-6 py-4"><%= @payment.amount %></td>
      </tr>
      <tr class="bg-white border-b">
        <th scope="col" class="text-xs text-gray-700 uppercase px-6 py-3 border-r">Force 3DS</th>
        <td class="px-6 py-4"><%= @payment.force_three_ds ? 'Yes' : 'No' %></td>
      </tr>
      <tr class="bg-white border-b">
        <th scope="col" class="text-xs text-gray-700 uppercase px-6 py-3 border-r">Created&nbsp;At</th>
        <td class="px-6 py-4 whitespace-nowrap"><%= @payment.created_at %></td>
      </tr>
      <tr class="bg-white border-b">
        <th scope="col" class="text-xs text-gray-700 uppercase px-6 py-3 border-r">Updated&nbsp;At</th>
        <td class="px-6 py-4 whitespace-nowrap"><%= @payment.updated_at %></td>
      </tr>
      <tr class="bg-white">
        <th scope="col" class="text-xs text-gray-700 uppercase px-6 py-3 border-r">Revolut&nbsp;ID</th>
        <td class="px-6 py-4 whitespace-nowrap"><%= @payment.revolut_order_id %></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="card relative w-min p-4 overflow-x-auto">
    <div class="mb-4 font-semibold">Revolut Order</div>
    <pre><%= JSON.pretty_generate @payment.revolut_order %></pre>
    <% if @payment.last_transaction_id %>
      <div class="mt-4 mb-4 font-semibold">Last Revolut Payment</div>
      <pre><%= JSON.pretty_generate @payment.last_transaction.revolut_payment %></pre>
    <% end %>
  </div>
</div>

<% if @payment.transactions.any? %>
  <div class="card relative overflow-x-auto">
    <table class="text-sm text-left text-gray-500 w-full">
      <thead class="text-xs text-gray-700 font-semibold bg-gray-200">
      <tr>
        <th scope="col" class="px-6 py-3 w-0">ID</th>
        <th scope="col" class="px-6 py-3 w-0">
          <span class="sr-only">Actions</span>
        </th>
        <th scope="col" class="px-6 py-3">Payment Method</th>
        <th scope="col" class="px-6 py-3">Created&nbsp;At</th>
        <th scope="col" class="px-6 py-3">Updated&nbsp;At</th>
        <th scope="col" class="px-6 py-3">Revolut&nbsp;ID</th>
      </tr>
      </thead>
      <tbody>
      <% @payment.transactions.order(id: :desc).each do |payment_transaction| %>
        <tr class="bg-white odd:bg-gray-50 border-b hover:bg-gray-100">
          <td class="px-6 py-4"><%= payment_transaction.id %></td>
          <td class="px-6 py-4">
            <div class="flex flex-row gap-x-2">
              <%= link_to 'Show',
                          payment_transaction_path(payment_transaction.id),
                          class: 'link-primary' %>
            </div>
          </td>
          <td class="px-6 py-4">
            <div class="flex flex-row gap-x-2">
              <%= link_to payment_transaction.payment_method.display_name,
                          payment_method_path(payment_transaction.payment_method_id),
                          class: 'link-primary' %>
            </div>
          </td>
          <td class="px-6 py-4"><%= payment_transaction.created_at %></td>
          <td class="px-6 py-4"><%= payment_transaction.updated_at %></td>
          <td class="px-6 py-4 whitespace-nowrap"><%= payment_transaction.revolut_payment_id %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
